.jumbotron {
    text-align: center;
    padding: 5px;
    color: white;
    margin-bottom: 0;
}

.display-4 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}
.current {
    margin: 10px;
}
.forecastDiv {
    margin-top: 20px; 
}

.my-item:hover
{
    color: darkcyan;
}
.card {
    margin-top: 10px;
}

.day-div {
    background-color: darkcyan;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.date-div {
    font-size: 20px;
    font-weight: bold
}