.jumbotron {
    text-align: center;
    padding: 5px;
    background-color: aquamarine;
}

.display-4 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

.forecastDiv {
    margin-top: 20px; 
}

.my-item:hover
{
    color: darkcyan;
}

.day-div {
    background-color: darkcyan;
    margin: 10px;
}