/* Header */
.jumbotron {
    text-align: center;
    padding: 5px;
    color: white;
    margin-bottom: 0;
}

.display-4 {
    font-size: 40px;
}

/* secondary headers */
h2 {
    font-size: 20px;
}

/* current weather  */
.current {
    margin: 10px;
}

/* 5 day forecast */
.forecastDiv {
    margin-top: 20px; 
}
.card {
    margin-top: 10px;
}

.day-div {
    background-color: darkcyan;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.date-div {
    font-size: 20px;
    font-weight: bold;

/* side nav - search bar */
 #searchbtn:hover {
    color: darkcyan;
}

.my-item:hover{  
color: darkcyan;
}


